# python>=3.10
accelerate
ftfy
git+https://github.com/openai/CLIP.git
hydra-core
numpy
omegaconf
open_clip_torch==2.23
openai
opencv-python
optimum
pillow
requests
sentencepiece
tabulate
timm
torch
torchvision
tqdm
transformers
unidecode
wandb
